
asflgjgtbkj/main.aux
asflgjgtbkj/main.log
asflgjgtbkj/main.synctex(busy)
asflgjgtbkj/main.tex
Borys Kadets 6fb85456863f49dfa8403f47b84236bf/427B4984_(2).zip
Borys Kadets 6fb85456863f49dfa8403f47b84236bf/427B4984_(2)/427B4984_(2).jpg
CV-small/brief.aux
CV-small/brief.log
CV-small/brief.out
CV-small/brief.pdf
CV-small/brief.synctex.gz
CV-small/brief.tex
CV-small/CV.pdf
CV-small/main.aux
CV-small/main.log
CV-small/main.out
CV-small/main.pdf
CV-small/main.synctex.gz
CV-small/main.tex
